{% block _collection_tickets_tickets_entry_widget %}
<div class="card mx-2">
    <div class="card-body">
        <div class="form-row">
            <div class="form-group col-md-auto">
                {{ form_label(form.lastName) }}
                {{ form_widget(form.lastName) }}
            </div>
            <div class="form-group col-md-auto">
                {{ form_label(form.firstName) }}
                {{ form_widget(form.firstName) }}
            </div>
        </div>
        <hr>
        <div class="form-group">
            <label for="birthday" class="label">
                Date de naissance
            </label>
            {{ form_widget(form.birthday) }}
        </div>
        <hr>
        <div class="form-group">
            {{ form_label(form.country) }}
            {{ form_widget(form.country) }}
            <p>Votre pays de résidence principale</p>
        </div>
        <hr>
        <div class="form-group">
            {{ form_label(form.reducePrice) }}
            {{ form_widget(form.reducePrice) }}

            <!-- Button trigger modal -->
            <button type="button" class="btn btn-link" data-toggle="modal" data-target="#conditions">
                <small>* Voir les conditions pour le tarif réduit.</small>
            </button>

            <!-- Modal -->
            <div class="modal fade" id="conditions" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Réductions !</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>
                                Réductions accordées sous conditions
                            </p>
                            <p>
                                Le tarif
                                <strong>réduit</strong>
                                d'accès au musée du Louvre est accordée, sur présentation d'un justificatif en
                                cours de validité, pour :
                            </p>
                            <ul>
                                <li>Les Etudiants</li>
                                <li>Les employés du musée</li>
                                <li>Les employés d'un service du Ministère de la culture</li>
                                <li>Le militaires</li>
                            </ul>
                            <p>
                                La liste des autres justificatifs acceptés par le musée est disponible auprès des
                                personnes chargés de l'accueil, situés sous la Pyramide. Tél. : +33 (0)1 40 20 53
                                17
                            </p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}