{% extends 'base.html.twig' %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.min.css">
{% endblock %}

{% block title %}Saisi Ticket{% endblock %}

{# Adding treatment for collectionsType #}
{% form_theme form 'resa/custom_form/_collection.html.twig' %}

{% block body %}
<div class="container">

    <h1 class="title text-center">
        {% if resa.nbTickets == 1 %}
        Billet commandé
        {% else %}
        Billets commandés
        {% endif %}
    </h1>

    <hr>
    {# Start form #}
    {{ form_start(form) }}
    <form action="">
        <div class="row justify-content-center">
            {% for ticket in form.tickets %}
            <div class="row">
                <div class="col-md-auto">
                    {{ form_widget(ticket)}}
                </div>
            </div>
            {% endfor %}
        </div>

        <div class="form-group text-center">
            <button type="submit" class="btn btn-outline-primary btn-sm">
                <i class="fas fa-save"></i>
                | Enregistrer les billets
            </button>
            <a href="{{ path('cancel_session') }}" class="btn btn-outline-default">Annuler</a>
        </div>
</div>
{{ form_end(form)}}
</form>
{# End form #}
</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js"></script>

{% endblock %}